.content__media {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 32px 32px 32px;
    max-width: 808px;
    max-height: 456px;
}
