.sidebar__head {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1024px) {
	.sidebar__head {
		justify-content: flex-start;
	}
}

@media (max-width: 1024px) {
	.sidebar__head {
		justify-content: space-between;
	}
}
