.sidebar__logo_test {
    background-image: url(../../../../images/video/logo-test.svg);
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-start;
  }