.sidebar__title {
	margin: 0;
	padding: 0 0 32px 0;
	font-family: Golos, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 24px;
	font-style: normal;
	line-height: 117%;
	max-width: 328px;
}

@media (max-width: 1024px) {
	.sidebar__title {
		margin-right: 32px;
	}
}
