.sidebar__block_active .sidebar__items {
	max-height: 100vh;
	opacity: 1;
	padding: 0;
	margin: 32px 0 0;
	transition: 0.5s all ease;
	display: flex;
	flex-direction: column;
}

  .sidebar__block_active .sidebar__block-head:after {
    transform: rotate(-180deg);
  }