.radio[type="radio"] {
	appearance: none;
	background-image: url('../../images/radio/radio_icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 20px;
	height: 20px;
	border: 0;
	color: #212329;
	padding: 0;
	margin: 0 10px 0 0;
	cursor: pointer;
}

.radio[type="radio"]:checked {
	background-image: url('../../images/radio/radio_checked_icon.svg');
}

.radio[type="radio"]:disabled {
	cursor: default;
}
