.sidebar__logo_type_test-orange {
    background-image: url(../../../../images/video/logo-test-orange.svg);
    margin-right: 10px;
    min-width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-start;
  }