@media (max-width: 1024px) {
	.sidebar-filter__list {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(4, 1fr);
		gap: 12px;
	}
}

@media (max-width: 780px) {
	.sidebar-filter__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px) {
	.sidebar-filter__list {
		grid-template-columns: 1fr;
	}
}
