.media__volume-button {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	align-self: baseline;
}

.media__volume-button:hover {
	opacity: .8;
	cursor: pointer;
	transition: .4s;
}
