.test-result__good-resume {
    font-family: 'Golos', 'Arial';
    max-width: 680px;
    max-height: 66px;
    margin: 0 64px 0px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #008000;
}

.test-result__good-resume:first-of-type {
    margin-bottom: 24px;

}
